*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(to bottom, #380062,#e200f7);
    min-height: 100vh;
}

h1
{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    padding-top: 50px;
    color: aliceblue;
    text-transform: uppercase;
    font-family: sans-serif;

    background: linear-gradient(270deg, black, white, black);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientFlow 10s ease infinite;
}
@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.wrapper{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.piano{
    display: flex;

}

.key{
    height: calc(var(--width)* 4);
    width: var(--width);
    transition: background-color 0.2 ease;
    position: relative;
}

.white{
    --width:100px;
    background: linear-gradient(to bottom, #ffffff, #f3f3f3);
    border: 1px solid #333;
    border-radius: 0px 0px 10px 10px;
    color: #333;
}

.white:active{
    background-color:#CCC;
}
.black{
    --width:60px;
    background: linear-gradient(to bottom, #000000, #333333);
    margin-left: calc(var(--width) /-2);
    margin-right: calc(var(--width) /-2);
    z-index: 2;
    border-radius: 0px 0px 8px 8px;
    color: #fff;
}

.note-label{
    font-size:22px;
    color: inherit;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}


black:active{
    background-color: #333;
}

.key.active{
    transform: translateY(4px);
}